- input_base_name = "unmatched_transactions_form[transactions][]"

div.p-8
  h2 Unmatched Transactions

  div.mt-8
    = simple_form_for(\
      @form,
      method: :patch,
      url: unmatched_transaction_path(:all),
    ) do |form|
      = form.submit

      table.w-full
        thead
          tr.border-b-4.border-gray-400
            th Date
            th Debited
            th Credited
            th.text-right Amount
            th.text-right Percent Shared
            th Note
            th Memo
        tbody
          - form.object.unmatched_transactions.each do |id, transaction|
            tr.border-b.border-gray-100
              td.whitespace-nowrap
                = form.input(\
                  :transactions,
                  as: :hidden,
                  input_html: {\
                    name: "#{input_base_name}[id]",
                    value: transaction.id,
                  },
                )
                = transaction.date
              td.text-right
                - if transaction.account_debited_id.present?
                  = transaction.account_debited.name

                  = form.input(\
                    :transactions,
                    as: :hidden,
                    input_html: {\
                      name: "#{input_base_name}[account_debited_id]",
                      value: transaction.account_debited_id,
                    },
                  )
                - else
                  = form.input(\
                    :transactions,
                    as: :select,
                    collection: form.object.accounts,
                    label: false,
                    include_blank: true,
                    input_html: {\
                      name: "#{input_base_name}[account_debited_id]",
                    },
                    selected: transaction.account_debited_id,
                  )
              td.text-right
                - if transaction.account_credited_id.present?
                  = transaction.account_credited.name

                  = form.input(\
                    :transactions,
                    as: :hidden,
                    input_html: {\
                      name: "#{input_base_name}[account_credited_id]",
                      value: transaction.account_credited_id,
                    },
                  )
                - else
                  = form.input(\
                    :transactions,
                    as: :select,
                    collection: form.object.accounts,
                    label: false,
                    include_blank: true,
                    input_html: {\
                      name: "#{input_base_name}[account_credited_id]",
                    },
                    selected: transaction.account_credited_id,
                  )
              td.text-right
                = number_with_precision(transaction.amount, precision: 2)
              td.text-right
                = form.input(\
                  :transactions,
                  label: false,
                  input_html: {\
                    class: 'text-right',
                    name: "#{input_base_name}[percent_shared]",
                    value: transaction.percent_shared,
                  },
                )
              td
                = form.input(\
                  :transactions,
                  label: false,
                  input_html: {\
                    name: "#{input_base_name}[note]",
                    value: transaction.note,
                  },
                )
              td
                = transaction.memo
