- input_base_name = "unmatched_transactions_form[transactions][]"

div.p-8
  h2 Unmatched Transactions

  div.mt-8
    = simple_form_for(\
      @form,
      method: :patch,
      url: unmatched_transaction_path(:all),
    ) do |form|
      = form.submit(\
        'Update Transactions',
        class: 'button-primary',
      )

      table.min-w-full.mt-8
        thead.bg-gray-50
          tr
            th.text-left.text-sm.font-semibold.py-2.pl-4.pr-3 Date
            th.text-right.text-sm.font-semibold.py-2.px-3 Debited
            th.text-right.text-sm.font-semibold.py-2.px-3 Credited
            th.text-right.text-sm.font-semibold.py-2.px-3 Amount
            th.text-sm.font-semibold.py-2.pl-3.pr-4 Note
        tbody
          - form.object.unmatched_transactions.each do |id, transaction|
            tr
              td class='text-sm text-gray-700 pl-4 pt-1' colspan=6
                = transaction.memo

            tr
              td.whitespace-nowrap.pt-1.pb-6.pl-4.pr-3
                = form.input(\
                  :transactions,
                  as: :hidden,
                  input_html: {\
                    name: "#{input_base_name}[id]",
                    value: transaction.id,
                  },
                  wrapper: :expense_input,
                )
                = transaction.date
              td.text-right.pt-1.pb-6.px-3
                - if transaction.account_debited_id.present?
                  = transaction.account_debited.name

                  = form.input(\
                    :transactions,
                    as: :hidden,
                    input_html: {\
                      name: "#{input_base_name}[account_debited_id]",
                      value: transaction.account_debited_id,
                    },
                  )
                - else
                  = form.input(\
                    :transactions,
                    as: :select,
                    collection: form.object.accounts,
                    label: false,
                    include_blank: true,
                    input_html: {\
                      name: "#{input_base_name}[account_debited_id]",
                    },
                    selected: transaction.account_debited_id,
                    wrapper: :expense_input,
                  )
              td.text-right.pt-1.pb-6.px-3
                - if transaction.account_credited_id.present?
                  = transaction.account_credited.name

                  = form.input(\
                    :transactions,
                    as: :hidden,
                    input_html: {\
                      name: "#{input_base_name}[account_credited_id]",
                      value: transaction.account_credited_id,
                    },
                  )
                - else
                  = form.input(\
                    :transactions,
                    as: :select,
                    collection: form.object.accounts,
                    label: false,
                    include_blank: true,
                    input_html: {\
                      name: "#{input_base_name}[account_credited_id]",
                    },
                    selected: transaction.account_credited_id,
                    wrapper: :expense_input,
                  )
              td.text-right.pt-1.pb-6.px-3
                = number_with_precision(transaction.amount, precision: 2)
              td.pt-1.pb-6.pl-3.pr-4
                = form.input(\
                  :transactions,
                  label: false,
                  input_html: {\
                    name: "#{input_base_name}[note]",
                    value: transaction.note,
                  },
                  wrapper: :expense_input,
                )
