
tr.border-b.border-gray-100
  td.py-4 = account.full_label
  td.px-4
    - budgeted = form_object.budgeted_amount(account.id)
    = form.fields_for(budgeted) do |budgeted_amount_form|
      - field_prefix = "budgeted_amounts_form[budgeted_amounts_attributes][]"
      = budgeted_amount_form.input(\
        :id,
        as: :hidden,
        input_html: {\
          name: "#{field_prefix}[id]",
        },
      )
      = budgeted_amount_form.input(\
        :account_id,
        as: :hidden,
        input_html: {\
          name: "#{field_prefix}[account_id]",
        },
      )
      = budgeted_amount_form.input(\
        :year,
        as: :hidden,
        input_html: {\
          name: "#{field_prefix}[year]",
        },
      )
      div.flex.items-center.gap-x-4
        = budgeted_amount_form.input(\
          :amount,
          input_html: {\
            name: "#{field_prefix}[amount]",
          },
          label: false,
          wrapper_html: {\
            class: 'max-w-16',
          },
          wrapper: :expense_input,
        )
        = budgeted_amount_form.input(\
          :frequency,
          as: :select,
          collection: [:monthly, :yearly],
          include_blank: false,
          input_html: {\
            name: "#{field_prefix}[frequency]",
          },
          label: false,
          wrapper: :expense_input,
        )
