.p-8
  h2 Process Import Data

  div.mt-8
    = simple_form_for(\
      @transaction_import_process_form,
      method: :patch,
      url: transaction_import_path(@transaction_import_process_form.transaction_import),
    ) do |form|
      div.text-red-700
        = form.error :base

      div.max-w-md.space-y-2
        = form.input(\
          :importing_account,
          collection: Account.all,
          wrapper: :expense_input,
        )

        = form.input(\
          :amount_mapping_type,
          collection: TransactionImport::IMPORTING_ACCOUNT_MAPPING_TYPES,
          wrapper: :expense_input,
        )

        = form.input(\
          :single_column_amount_mapping,
          collection: TransactionImport::IMPORTING_ACCOUNT_SINGLE_COLUMN_MAPPING,
          wrapper: :expense_input,
        )

      table.w-full.mt-4
        thead
          tr
            - form.object.headers.each do |header|
              th.text-left.font-bold.border-b.border-green-800 = header

        tbody
          tr
            - form.object.headers.each_with_index do |_, i|
              td.text-sm
                = form.input(\
                  :column_mappings,
                  include_blank: true,
                  collection: TransactionImport::IMPORTED_COLUMNS,
                  label: false,
                  input_html: {\
                    class: 'px-0.5 py-0.5',
                    name: 'transaction_import_process_form[column_mappings][]',
                  },
                  selected: form.object.column_mappings[i],
                  wrapper: :expense_input,
                )

          - form.object.previewed_rows.each do |row|
            tr.text-xs
              - row.each do |datum|
                td
                  div.truncate.w-48 = datum

      .space-y-4.mt-8
        = form.submit(\
          'Process',
          class: 'button-primary',
        )
