.p-8
  h2 New Transaction Import

  = simple_form_for @transaction_import_form, url: transaction_imports_path do |form|
    .space-y-4.mt-8.max-w-md
      = form.input(\
        :name,
        wrapper: :expense_input,
      )

      = form.input(\
        :import_csv,
        as: :file,
        input_html: { accept: 'text/csv' },
        wrapper: :expense_input,
      )

      = form.submit(\
        'Create',
        class: 'button-primary',
      )
