nav.flex.flex-1.flex-col
  ul.flex.flex-1.flex-col.gap-y-7[role="list"]
    li
      ul.-mx-2.space-y-1[role="list"]
        li
          = active_link_to(\
            'Dashboard',
            reports_dashboards_path,
            class: 'text-gray-900 group w-full flex items-center pl-7 pr-2 py-2 text-sm font-medium rounded-md hover:bg-gray-100',
            class_active: 'bg-gray-100',
          )

        li
          = active_link_to(\
            'Transactions',
            transactions_path,
            class: 'text-gray-900 group w-full flex items-center pl-7 pr-2 py-2 text-sm font-medium rounded-md hover:bg-gray-100',
            class_active: 'bg-gray-100',
          )

        li
          = active_link_to(\
            'Budgets',
            budgets_path,
            class: 'text-gray-900 group w-full flex items-center pl-7 pr-2 py-2 text-sm font-medium rounded-md hover:bg-gray-100',
            class_active: 'bg-gray-100',
          )

        li
          = active_link_to(\
            'Chart of Accounts',
            accounts_path,
            class: 'text-gray-900 group w-full flex items-center pl-7 pr-2 py-2 text-sm font-medium rounded-md hover:bg-gray-100',
            class_active: 'bg-gray-100',
          )

    li
      ul.-mx-2.space-y-1[role="list"]
        div.pl-7.text-xs.font-semibold.leading-6.text-gray-600
          ' Reports

        li
          = active_link_to(\
            'Profits and Losses',
            reports_profit_and_losses_path,
            class: 'text-gray-900 group w-full flex items-center pl-7 pr-2 py-2 text-sm font-medium rounded-md hover:bg-gray-100',
            class_active: 'bg-gray-100',
          )

        li
          = active_link_to(\
            'Assets',
            reports_assets_path,
            class: 'text-gray-900 group w-full flex items-center pl-7 pr-2 py-2 text-sm font-medium rounded-md hover:bg-gray-100',
            class_active: 'bg-gray-100',
          )

    li
      ul.-mx-2.space-y-1[role="list"]
        div.pl-7.text-xs.font-semibold.leading-6.text-gray-600
          ' Bulk Actions

        li
          = active_link_to(\
            'Merge Accounts',
            new_merge_account_path,
            class: 'text-gray-900 group w-full flex items-center pl-7 pr-2 py-2 text-sm font-medium rounded-md hover:bg-gray-100',
            class_active: 'bg-gray-100',
          )

        li
          = active_link_to(\
            'Start Import',
            transaction_imports_path,
            class: 'text-gray-900 group w-full flex items-center pl-7 pr-2 py-2 text-sm font-medium rounded-md hover:bg-gray-100',
            class_active: 'bg-gray-100',
          )

        li
          = active_link_to(\
            'Match Transactions',
            edit_unmatched_transaction_path(:all),
            class: 'text-gray-900 group w-full flex items-center pl-7 pr-2 py-2 text-sm font-medium rounded-md hover:bg-gray-100',
            class_active: 'bg-gray-100',
          )

        li
          = active_link_to(\
            'Merge Transactions',
            new_merge_transaction_path,
            class: 'text-gray-900 group w-full flex items-center pl-7 pr-2 py-2 text-sm font-medium rounded-md hover:bg-gray-100',
            class_active: 'bg-gray-100',
          )

    - if current_user
      li.pb-4.mt-auto
        = link_to(\
          'Sign Out',
          destroy_user_session_path,
          class: 'text-gray-900 group w-full flex items-center pl-7 pr-2 py-2 text-sm font-medium rounded-md hover:bg-gray-100',
          class_active: 'bg-gray-100',
          method: :delete,
        )