doctype html

head
  title = 'Expense Tracker'
  meta name='viewport' content='width=device-width,initial-scale=1'
  = csrf_meta_tags
  = csp_meta_tag

  script src='https://cdn.tailwindcss.com/'

  = stylesheet_link_tag 'application'
  = javascript_importmap_tags

body
  div.flex.flex-wrap.gap-x-4
    div.basis-40.grow-0
      div.flex.flex-col.flex-cols-1.gap-y-2.items-center.w-full.mt-8
        = link_to(\
          'Accounts',
          accounts_path,
          class: 'text-green-700 pl-8 w-full text-left hover:text-green-900 hover:bg-green-100',
        )

        = link_to(\
          'Merge Accounts',
          new_merge_account_path,
          class: 'text-green-700 pl-8 w-full text-left hover:text-green-900 hover:bg-green-100',
        )

        = link_to(\
          'Imports',
          transaction_imports_path,
          class: 'text-green-700 pl-8 w-full text-left hover:text-green-900 hover:bg-green-100',
        )

        = link_to(\
          'Transactions',
          transactions_path,
          class: 'text-green-700 pl-8 w-full text-left hover:text-green-900 hover:bg-green-100',
        )

        = link_to(\
          'Unmatched Transactions',
          edit_unmatched_transaction_path(:all),
          class: 'text-green-700 pl-8 w-full text-left hover:text-green-900 hover:bg-green-100',
        )

        = link_to(\
          'Profits and Losses',
          reports_profit_and_losses_path,
          class: 'text-green-700 pl-8 w-full text-left hover:text-green-900 hover:bg-green-100',
        )

    div.basis-0.grow.min-width-half
      = yield
