= simple_form_for account do |form|
  .space-y-4.mt-8.max-w-lg
    = form.input(\
      :name,
      wrapper: :expense_input,
    )
    = form.input(\
      :number,
      wrapper: :expense_input,
    )

    = form.input(\
      :account_type,
      collection: ::Account.types_for_collection,
      wrapper: :expense_input,
    )

    = form.submit(\
      class: 'button-primary',
    )
